<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>


<div>
  <h3>name:<%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>introduction:<%= @user.introduction %></h3>
  <p><%= link_to"edit",edit_user_path(current_user.id) %></p>
</div>

<%= render 'books/book', book:@book %>


<% @books.each do |book| %>
<div>
  <p>title：<%= link_to  book.title,book_path(book.id) %></p>
  <p>body：<%= book.body %></p>
</div>
<% end %>
