  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= image_tag  @book_show.user.get_profile_image(100,100) %><table class="table">
          <tbody>
            <tr></tr>
            <tr>
                <th>name</th>
                <th><%=  @book_show.user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @book_show.user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <%= link_to edit_user_path(@book_show.user_id),class:"btn btn-outline-secondary btn-block edit_user_#{current_user.id}" do %>
          <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
        <%= render 'book', book:@book %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
                <td><%= link_to user_path(@book_show.user_id) do %>
                 <%= image_tag @book_show.user.get_profile_image(100,100) %>
                <br>
                <%= @book_show.user.name %>
                <% end %>
                </td>
                <td><%= link_to  @book_show.title,book_path(@book_show.id) %></td>
                <td><%= @book_show.body %></td>
                <% if @book_show.user == current_user %>
                <td> <%= link_to "Edit",edit_book_path(@book_show.id),class:"btn btn-sm btn-success" %></td>
                <td> <%= link_to "Destroy",book_path(@book_show.id),method: :delete,"data-confirm"=>"本当に消しますか？",class:"btn btn-sm btn-danger" %></td>
                <% end %>
                </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>

