  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'current_user' %>
        <%= render 'book', book:@book %>
      </div>
      
      
      
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
                <td><%= link_to user_path(@book_show.user_id) do %>
                 <%= image_tag @book_show.user.get_profile_image(100,100) %>
                <br>
                <%= @book_show.user.name %>
                <% end %>
                </td>
                <td><%= link_to  @book_show.title,book_path(@book_show.id) %></td>
                <td><%= @book_show.body %></td>
                <% if @book_show.user == current_user %>
                <td> <%= link_to "Edit",edit_book_path(@book_show.id),class:"btn btn-sm btn-success" %></td>
                <td> <%= link_to "Destroy",book_path(@book_show.id),method: :delete,"data-confirm"=>"本当に消しますか？",class:"btn btn-sm btn-danger" %></td>
                <% end %>
                </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>

